@model ITProductECommerce.ViewModels.ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Login</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Auth" asp-action="Login">Login</a></li>
        <li class="breadcrumb-item active text-white">Password Recovery</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Please confirm your registed email</h1>
        <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-12 col-lg-6">
                <div class="form-item w-100">
                    <label asp-for="@Model.Email" class="form-label my-3"></label><sup>*</sup>
                    <input asp-for="@Model.Email" class="form-control">
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
                <div class="form-item w-100 justify-content-center align-content-center pt-4">
                    <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-50 text-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>