
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Login</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Auth" asp-action="Login">Login</a></li>
        <li class="breadcrumb-item"><a asp-controller="Auth" asp-action="ResetPassword">Reset Password</a></li>
        <li class="breadcrumb-item active text-white">Reset Password Confirmation</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Reset Password Successfully!</h1>
        <p>
            Your password has been reset. Please <a asp-controller="Auth" asp-action="Login">click here to log in</a>.
        </p>
    </div>
</div>