
@{
    ViewData["Title"] = "Success Registration";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Login</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Auth" asp-action="Register">Register</a></li>
        <li class="breadcrumb-item active text-white">Success Registration</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Your Email Success Registration!</h1>
        <p>
            Thanks you for registed to our website, please check your mail box for the confirm email link!
        </p>
    </div>
</div>