@{
    Layout = "_LayoutCustom";
}

<!-- Single Page Header start -->
@RenderSection("WebsiteMap", required: false)
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Green Store Product</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            @await Html.PartialAsync("_SearchPanel")
                        </div>
                    </div>
                    <div class="col-6"></div>
                    @await Html.PartialAsync("_SortBy")
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            @await Component.InvokeAsync("CategoryMenu")
                            @await Html.PartialAsync("_RangeInput")
                            @await Html.PartialAsync("_ListProvider")
                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                @await Component.InvokeAsync("FeatureProduct")
                                <div class="d-flex justify-content-center my-4">
                                    <a asp-controller="Products" asp-action="Index" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">View More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="~/static/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Limited <br> Discount <br> Program</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->