@model ITProductECommerce.ViewModels.OrderVM

@{
    ViewData["Title"] = "_OrderSort";
}

<div class="col-xl-3">
    <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
        <label for="fruits">Default Sorting:</label>
        <select asp-for="@Model.SortBy" id="sortBy" name="sortBy" class="border-0 form-select-sm bg-light me-3" form="orderSearch">
            <option value="">Nothing</option>
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
        </select>
    </div>
</div>

