@model ITProductECommerce.ViewModels.ProductVM

@if (Context.Request.Path == "/Products")
{
    <form style="display: flex;" asp-controller="Products" asp-action="Index" id="searchForm">
        <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
        <input type="hidden" name="categoryId" value="@Model.CategoryId" />
        <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="search">
        <button style="border: none; background-color:transparent;">
            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
        </button>
    </form>
}
else if (Context.Request.Path == "/AdminPanel/ProductPanel")
{
<form style="display: flex;" asp-controller="AdminPanel" asp-action="ProductPanel" id="searchForm">
    <input type="hidden" name="pageNumber" value="@Model.PageNumber" />
    <input type="hidden" name="categoryId" value="@Model.CategoryId" />
    <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="search">
    <button style="border: none; background-color:transparent;">
        <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
    </button>
</form>
}
