@{
    ViewData["Title"] = "Index";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Admin Panel</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active text-white">Admin Panel</li>
    </ol>
</div>
<!-- Single Page Header End -->

<div class="h-50 d-flex justify-content-center align-items-center pt-4">
    <h1>Welcome Admin</h1>
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
        <h3 class="mb-4">Management Tool</h3>
        <div class="row-g5">
            <div class="col-md-12 col-lg-6 col-xl-7">
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div class="form-item w-100 mb-3">
                            <a asp-controller="AdminPanel" asp-action="ProductPanel" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Product Management</a>
                        </div>
                        <div class="form-item w-100 mb-3">
                            <a asp-controller="AdminPanel" asp-action="CategoryPanel" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Category Management</a>
                        </div>
                        <div class="form-item w-100 mb-3">
                            <a asp-controller="AdminPanel" asp-action="OrderPanel" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Order Management</a>
                        </div>
                        <div class="form-item w-100 mb-3">
                            <a asp-controller="AdminPanel" asp-action="DiscountPanel" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Discount Management</a>
                        </div>
                        @if (User.IsInRole("admin"))
                        {
                            <div class="form-item w-100 mb-3">
                                <a asp-controller="AdminPanel" asp-action="StaffPanel" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary">Staff Management</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



