
@{
    ViewData["Title"] = "Success";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Checkout</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Cart" asp-action="Index">Cart</a></li>
        <li class="breadcrumb-item active text-white">Checkout</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Success placed order Start -->
<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <i class="bi bi-check-circle-fill display-1 text-primary"></i>
                <h1 class="display-3">YOUR ORDER</h1>
                <h1 class="mb-4">Placed Successfully!</h1>
                <p class="mb-4">Thank you for trusting and shopping at Green Store. We will handle your order and contact you as soon as possible.</p>
                <a class="btn border-secondary rounded-pill py-3 px-5" asp-controller="Products" asp-action="Index">Go Back To Shopping</a>
                <a class="btn border-secondary rounded-pill py-3 px-5" asp-controller="Home" asp-action="Index">Go Back To Home</a>
            </div>
        </div>
    </div>
</div>
<!-- Success placed order End -->
