@model ITProductECommerce.ViewModels.ProductVM

@{
    ViewData["Title"] = "Index";
    Layout = "_ListOfProducts";
}

<!-- Single Page Header start -->
@section WebsiteMap{
    <div class="container-fluid page-header py-5">
        <h1 class="text-center text-white display-6">Shop</h1>
        <ol class="breadcrumb justify-content-center mb-0">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active text-white">Shop</li>
        </ol>
    </div>
}
<!-- Single Page Header End -->

@await Html.PartialAsync("ProductItem", Model)

@await Html.PartialAsync("_ProductIndexPagination", Model)
